label {
  bottom: 100px;
  font-size: larger;
  color: rgb(73, 36, 36);
}
.modify {
  padding-left: 100px;
  padding-top: 100px;
  background: white;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 330px !important;
  padding: 8px;
  margin-left: 8px;
}
.buttonCheck {
  background-color: blue;
  color: white;
  margin-left: 20px;
}
.cancelButton {
  background-color: blue;
  color: white;
}
.buttonCheck:hover {
  background-color: rgb(75, 162, 9);
}
.buttonCheck1:hover {
  background-color: rgb(75, 162, 9);
}
.buttonCheck2:hover {
  background-color: rgb(75, 162, 9);
}
.cancelButton:hover {
  background-color: red;
}
.message:empty {
  margin-left: 350px;
  margin-top: 50px;
  background-color: white;
  border-radius: 0px;
  width: 0px;
  border: 0px solid #ccc;
}

.message {
  margin-left: 30px;
  margin-top: 10px;
  background: lightgreen;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 330px !important;
  padding: 8px;
}
table {
  border-collapse: collapse;
  width: 50%;
  margin-left: 300px;
}
th,
td {
  border: 1px solid black;
  padding: 8px;
}
th {
  text-align: left;
  background-color: #f2f2f2;
}
#datacolor {
  color: black;
}
.DataAnalytics {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: fit-content;
  margin-left: 28%;
  position: center;
}
.datasetHeading {
  text-align: center;
  padding-bottom: 1em;
  color: #079f14;
  font-size: 3.1em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-image: linear-gradient(
    135deg,
    white 0%,
    white 65%,
    black 75%,
    white 80%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: block;
  -webkit-text-stroke: 1px rgb(92, 36, 212);
}
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
.Fullpage {
  min-height: 90%;
  overflow: hidden;
  background-image: url("/assets/Images/HomePage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.buttonCheck2 {
  background-color: blue;
  color: white;
  margin-left: 50px;
}
.buttonCheck1 {
  background-color: blue;
  color: white;
  margin-left: 100px;
}
.contentPage {
  margin-top: 10%;
}
.card {
  transition: 0.3s;
}
/* .card:hover {
  box-shadow: 8px 8px 8px blue;
  transform: scale(1.2);
} */
