<header>
  <nav
    class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top mask-custom shadow-0"
  >
    <div class="container">
      <img
        id="Hexa"
        width="80"
        alt="Hexaware Logo"
        src="https://seeklogo.com/images/H/hexaware-technologies-logo-7B0FA8DDA8-seeklogo.com.png"
      />
      <a class="navbar-brand" href="#!"
        ><span style="color: #5e9693">Data</span
        ><span style="color: #fff">Analytics</span></a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="" id="nav-item">Home</a>
          </li>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <li class="nav-item">
            <a class="nav-link" href="/presentation" id="nav-item">Presentation</a>
          </li>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <li class="nav-item">
            <a class="nav-link" href="/fileUpload" id="nav-item">Process</a>
          </li>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <li class="nav-item">
            <a class="nav-link" href="/team" id="nav-item">Team</a>
          </li>
        </ul>
      </div>
      <img
        id="lseg"
        width="100"
        alt="Lseg Logo"
        src="https://www.lseg.com/content/dam/lseg/en_us/images/logos/bespoke/logo.svg"
      />
    </div>
  </nav>
</header>
