<!-- <style>
  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

  .toolbar #Hexa {
    margin: 0 16px;
  }

  .toolbar #lseg {
    height: 180px;
    margin-right: 0 px;
    float: right;
  }
  .toolbar #dataname {
    text-align: center;
    font-weight: 50;
    margin: 0 550px;
  }
</style>

Toolbar -->
<!-- <div class="toolbar" role="banner">
  <img
    id="Hexa"
    width="40"
    alt="Hexaware Logo"
    src="https://seeklogo.com/images/H/hexaware-technologies-logo-7B0FA8DDA8-seeklogo.com.png"
  />
  <span id="dataname">Data Analytics & Intelligence</span>

  <img
    id="lseg"
    width="100"
    alt="Lseg Logo"
    src="https://www.lseg.com/content/dam/lseg/en_us/images/logos/bespoke/logo.svg"
  />
</div> -->
