/* label {
  bottom: 100px;
  padding-left: 250px;
  padding-top: 100px;
  font-size: larger;
}
.buttonCheck1 {
  background-color: blue;
  color: white;
  margin-left: 100px;
}

.message:empty {
  margin-left: 350px;
  margin-top: 50px;
  background-color: white;
  border-radius: 0px;
  width: 0px;
  border: 0px solid #ccc;
}

.message {
  margin-left: 10px;
  margin-top: 10px;
  background: lightgreen;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 330px !important;
  padding: 8px;
} */

/* Color of the links BEFORE scroll */
.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
  color: #fff;
}

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler-icon,
.navbar-scrolled .navbar-brand {
  color: #fff;
}

/* Color of the navbar AFTER scroll */
.navbar-scroll,
.navbar-scrolled {
  background-color: #cbbcb1;
}

.mask-custom {
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.15);
}

.navbar-brand {
  font-size: 1.75rem;
  letter-spacing: 3px;
}
.container #Hexa {
  margin: 0 16px;
}
