/* .modify {
  font-family: "Inter", sans-serif;
  height: 100vh;
  width: 220vh;
  background-image: url("/assets/Images/HomePage.jpg");
  background-repeat: no-repeat;
  background-position: bottom center;
} */
/* .modify div {
  height: auto;
  padding: 0.5em;
  padding-bottom: 0.3em;
  padding-left: 1em;
  padding-right: 1em;
} */
