<div class="accordion" id="teamDetails">
  <h4 id="aboutUs">Know More About Us</h4>
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
      <button
        class="accordion-button"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#panelsStayOpen-collapseOne"
        aria-expanded="true"
        aria-controls="panelsStayOpen-collapseOne"
      >
        <span id="teamData" style="color: rgb(2, 5, 9)"> Kameswara A </span> -
        <span style="color: rgb(27, 157, 157)"
          >Global Account Delivery Head / Delivery Partner</span
        >
      </button>
    </h2>
    <div
      id="panelsStayOpen-collapseOne"
      class="accordion-collapse collapse show"
      aria-labelledby="panelsStayOpen-headingOne"
    >
      <div class="accordion-body">
        <strong>
          A Proactive, Dynamic and Result Oriented Exec/Senior Management
          Professional with 20+ Years of Experience in IT Industry and Alumni of
          IIM Ahmedabad.</strong
        >
        <br />

        <p>
          Proven Track record of Executive leadership in Delivering Large &
          Complex path breaking IT Transformation Programs, Launch innovative
          Products with Latest Technology Stacks @ BFSI (Wealth, Private,
          Investment, Retail), Loyalty, Payments, Lending, Travel, HealthCare &
          Insurance, Energy & Utilities, Global Consulting. STARTUP Setup
          &Accelerating Growth, Scaling organization, Digital Transformation,
          Cloud, Analytics
        </p>
        <a
          href="https://www.linkedin.com/in/kameswara-rao-iim-ahmedabad-alumni-368a6554/"
          >click here to know more about him</a
        >
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#panelsStayOpen-collapseTwo"
        aria-expanded="false"
        aria-controls="panelsStayOpen-collapseTwo"
      >
        <span id="teamData" style="color: rgb(2, 5, 9)">
          Rajesh Jaganathan</span
        >
        -
        <span style="color: rgb(27, 157, 157)">Program Director</span>
      </button>
    </h2>
    <div
      id="panelsStayOpen-collapseTwo"
      class="accordion-collapse collapse"
      aria-labelledby="panelsStayOpen-headingTwo"
    >
      <div class="accordion-body">
        <strong>
          A self starter, proactive and Ardent with 15+ years of experience
          overall in the industry.</strong
        >
        <p>
          His primary technical expertise in IBM Mainframe and technical
          expertise with hands on in cross technologies including Jenkins,Git ,
          Big Data, Cloud , Leading Transformation across Technology .NET,Middle
          ware , DB Support , Mainframe Tools and Utilities, MS Office tools.
        </p>
        <a href="https://www.linkedin.com/in/rajesh-jaganathan-87a73a87/"
          >click here to know more about him</a
        >
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingThree">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#panelsStayOpen-collapseThree"
        aria-expanded="false"
        aria-controls="panelsStayOpen-collapseThree"
      >
        <span id="teamData" style="color: rgb(2, 5, 9)">
          ShashiKant Chattar</span
        >
        -
        <span style="color: rgb(27, 157, 157)">Technical Architect</span>
      </button>
    </h2>
    <div
      id="panelsStayOpen-collapseThree"
      class="accordion-collapse collapse"
      aria-labelledby="panelsStayOpen-headingThree"
    >
      <div class="accordion-body">
        <strong>
          A Proficient, adaptive and flexible person with more than 15 years of
          experience in IT industry</strong
        >
        <p>
          He worked on different domains like- Human Resource IT System
          Banking,Insurance Customer Screening in Banks, Multi Channel
          Marketing, Customer Relationship Management. He spread his arms on
          different technologies like Amazon Web Services, AWS ECS, AWS Lambda
          ,API Gateway ,Java ,Spring Boot , Microservices Architecture ,
          PostgreSQL , Rancher Cloud Platform , KAFKA Streams and so on..
        </p>
        <a href="https://www.linkedin.com/in/shashikantchattar/"
          >click here to know more about him</a
        >
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingFour">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#panelsStayOpen-collapseFour"
        aria-expanded="false"
        aria-controls="panelsStayOpen-collapseFour"
      >
        <span id="teamData" style="color: rgb(2, 5, 9)">
          Praveen Kumar Selvaraj</span
        >
        -
        <span style="color: rgb(27, 157, 157)">Technical Lead</span>
      </button>
    </h2>
    <div
      id="panelsStayOpen-collapseFour"
      class="accordion-collapse collapse"
      aria-labelledby="panelsStayOpen-headingFour"
    >
      <div class="accordion-body">
        <strong>
          A Proficient, enthusiastic and Dynamic person with more than 10 years
          of experience in IT industry</strong
        >
        <p>
          He is a Software professional with 10 years of experience in Data
          warehousing, Data Modeling, Data integration and Data Migration , ETL
          Process and ETL Designer. Expertise on working in Oracle & Teradata
          for vast business requirements. Experienced in UNIX shell scripts to
          write wrapper scripts to call ETL Job.Excellent Team player and Quick
          learner with positive attitude and self motivation.
        </p>
        <a href="https://www.linkedin.com/in/praveen-kumar-selvaraj-3a568961/"
          >click here to know more about him</a
        >
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingFive">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#panelsStayOpen-collapseFive"
        aria-expanded="false"
        aria-controls="panelsStayOpen-collapseFive"
      >
        <span id="teamData" style="color: rgb(2, 5, 9)">
          Manasvi Srivastava
        </span>
        -
        <span style="color: rgb(27, 157, 157)"
          >Associate Software Engineer</span
        >
      </button>
    </h2>
    <div
      id="panelsStayOpen-collapseFive"
      class="accordion-collapse collapse"
      aria-labelledby="panelsStayOpen-headingFive"
    >
      <div class="accordion-body">
        <p>
          A Full Stack developer with more than 1 year of Experience in IT
          Industry.
        </p>
        <a href="https://www.linkedin.com/in/manasvi-shrivastava-95b2891a3/"
          >click here to know more about him</a
        >
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingSix">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#panelsStayOpen-collapseSix"
        aria-expanded="false"
        aria-controls="panelsStayOpen-collapseSix"
      >
        <span id="teamData" style="color: rgb(2, 5, 9)"> Karthik Prabhash</span>
        -
        <span style="color: rgb(27, 157, 157)"
          >Associate Software Engineer</span
        >
      </button>
    </h2>
    <div
      id="panelsStayOpen-collapseSix"
      class="accordion-collapse collapse"
      aria-labelledby="panelsStayOpen-headingSix"
    >
      <div class="accordion-body"></div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingSeven">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#panelsStayOpen-collapseSeven"
        aria-expanded="false"
        aria-controls="panelsStayOpen-collapseSeven"
      >
        <span id="teamData" style="color: rgb(2, 5, 9)"> Shashank</span>
        -
        <span style="color: rgb(27, 157, 157)"
          >Associate Software Engineer</span
        >
      </button>
    </h2>
    <div
      id="panelsStayOpen-collapseSeven"
      class="accordion-collapse collapse"
      aria-labelledby="panelsStayOpen-headingSeven"
    >
      <div class="accordion-body"></div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingEight">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#panelsStayOpen-collapseEight"
        aria-expanded="false"
        aria-controls="panelsStayOpen-collapseEight"
      >
        <span id="teamData" style="color: rgb(2, 5, 9)"> Hitesh Adithya</span>
        -
        <span style="color: rgb(27, 157, 157)"
          >Associate Software Engineer</span
        >
      </button>
    </h2>
    <div
      id="panelsStayOpen-collapseEight"
      class="accordion-collapse collapse"
      aria-labelledby="panelsStayOpen-headingEight"
    >
      <div class="accordion-body">
        <p>He is a Software Engineer</p>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingNine">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#panelsStayOpen-collapseNine"
        aria-expanded="false"
        aria-controls="panelsStayOpen-collapseNine"
      >
        <span id="teamData" style="color: rgb(2, 5, 9)">
          Hanuma Sai Satyanarayana Kopalli</span
        >
        -
        <span style="color: rgb(27, 157, 157)"
          >Associate Software Engineer</span
        >
      </button>
    </h2>
    <div
      id="panelsStayOpen-collapseNine"
      class="accordion-collapse collapse"
      aria-labelledby="panelsStayOpen-headingNine"
    >
      <div class="accordion-body">
        <strong
          >A Full stack developer with more than 1 year of ecperienec in IT
          Industry.</strong
        >
        <p>
          He is always enthu to learn new technologies and step towards thrives
          to build his industry standard skills.
        </p>
        <a href="https://www.linkedin.com/in/hanuma-kopalli-2b80811b1/"
          >click here to know more about him</a
        >
      </div>
    </div>
  </div>
</div>
