<div class="container header-root-div">
  <div class="row">
    <div class="col-lg-6 col-md-6 header-content-div">
      <h1 class="header-content">
        Predictive Exception & AutoCorrect of exception data
      </h1>
      <h1 class="header-content">using Data Analytical & Integrity</h1>

      <button
        type="button"
        class="btn btn-primary header-button"
        (click)="Details()"
      >
        Clike Me To Know More
      </button>
    </div>
    <div class="col-lg-6 col header-image-div">
      <img
        class="header-image"
        src="/assets/Images/headerImage.png"
        alt="header_image"
      />
    </div>
  </div>
</div>
